.h1{
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to left,rgb(197, 71, 71),rgb(50, 50, 151));
    color: transparent;
}
.p{
    color: #eba3a3;
    font-size: 30px;
    text-align: center;
}
.user-data{
    width: 50%;
    margin: auto;
    font-family: 'Lato', sans-serif; ;
    animation: movedown 1s ease-out;
    
}
.p1{
    color: #a2f3ad;
    font-size: 30px;
    text-align: center;
}